<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAURUS S.A. - Concesionario Agrícola</title>
    <link rel="shortcut icon" href="/statics/Img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/estilo_noticias.css" type="text/css">
    <script src="https://kit.fontawesome.com/c86e6b0455.js" crossorigin="anonymous"></script>
</head>

<body>

    <!--HEADER-->
    <header id="id-header">
        <section class="nav-section">
            <div class="navbar">

                <!--botones del menu desplegable - hover-->
                <a href="/index.html" id="id-home">Home</a>

                <div class="dropdown">
                    <button class="dropbtn">Productos
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/Templates/productos-nuevos.html">Nuevos</a>
                        <a href="/Templates/productos-usados.html">Usados</a>
                        <a href="/Templates/productos-alquilar.html">Alquilar</a>
                    </div>
                </div>

                <div class="dropdown1">
                    <button class="dropbtn">Comprar
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown1-content">
                        <a href="/templates/productos_financiacion/financiacion.html">Financiación</a>
                        <a href="/templates/en-desarrollo/pag-en-desarrollo.html">Planes de Ahorro</a>
                        <a href="/templates/en-desarrollo/pag-en-desarrollo.html">Repuestos</a>
                        <a href="/templates/en-desarrollo/pag-en-desarrollo.html">Catálogos</a>
                    </div>
                </div>

                <div class="dropdown2">
                    <button class="dropbtn">Institucional
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown2-content">
                        <a href="/templates/Institucional/quienes-somos.html">Quiénes Somos</a>
                        <a href="/templates/Institucional/contactenos.html">Contáctenos</a>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <!--/HEADER-->
    <!--*******************************************************************************-->

    <div id="img-taurus">
        <a href="/index.html"><img src="/statics/Img/logo-taurus-200x200-transparente.png" alt="Logo Taurus S.A." class="img-taurus"></a>
    </div>

    <!--/HEADER-->
    <!--MAIN-->

    <div class="container__h1">
        <h1 class="h1__class">Quiénes Somos</h1>
    </div>

    <div class="container-img__class">
        <img class="img__class"
            src="/statics/Img/agencia-nueva-campo-en-red.jpg"
            alt="Imagen de Concesioraria" style="margin-top: 120px;">
    </div>

    <div class="container__p">
        <p class="p__class">
            <br>
            <u>TAURUS S.A. Concesionaria Agrícola.</u><br><br>
            La empresa cuenta con tres (3) sucursales en Argentina, la Casa Central ubicada en la ciudad de Pilar, Pcia. De Bs. As; la segunda sucursal se ubica en la ciudad de Venado Tuerto en la Pcia. De Sta. Fé; por último, la tercera sucursal se ubica en la ciudad de Villa María, en la Pcia. de Córdoba. <br><br>
            Nuestro objetivo primario es hacernos conocer por los productores rurales de la Pampa Húmeda, comprendida por estas 3 provincias, las más importantes en lo que se refiere a producción agropecuaria, pero siempre expandiendo nuestra zona de acción a otras provincias que requieran nuestros servicios y productos, a través de viajantes que interactúen directamente con los productores de distintas regiones o zonas.<br><br>
            La empresa, cuenta con financiación propia para sus clientes, facilitando así, el proceso de adquisición de nuestros productos con planes de pago directos, sin la necesidad de tener que acceder a créditos bancarios
            innecesarios y onerosos. <br><br>
            La empresa cuenta con Maquinarias nuevas y usadas además de maquinaria para alquilar.<br><br>
            Toda maquinaria usada es revisada por nuestros técnicos, para la satisfacción plena de nuestros clientes, detallando el tiempo de uso, los cambios de repuestos realizados desde nuestra adquisición de los mismos,
            para un correcto funcionamiento del producto. Los mismos, cuentan con una garantía de 1 año.<br><br>
            La maquinaria nueva, tiene garantía por 2 años, e incluye el servicio técnico (service) en la propiedad rural del cliente, abaratando los costos de transporte hasta nuestra sucursal.<br>
        </p>
    </div>

    <!--************************************************************************-->

    <!--FOOTER-->
    <footer id="id-footer">
        <h3 class="h3-footer">TAURUS S.A - Concesionario Agrícola</h3>
        <div class="footer-subtitle">
            <h4>Ruta 9 - km. 555 - Villa María - Cba.</h4>
            <h5>Tel.: (0353) 155100370</h5>
        </div>
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-container-links">
                    <h4>Productos</h4>
                    <ul>
                        <li><a href="/templates/productos-nuevos.html">Nuevos</a></li>
                        <li><a href="/templates/productos-usados.html">Usados</a></li>
                        <li><a href="/templates/productos-alquilar.html">Alquiler</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Comprar</h4>
                    <ul>
                        <li><a href="/templates/productos_financiacion/financiacion.html">Financiación</a></li>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Planes de Ahorro</a></li>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Repuestos</a></li>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Catálogos</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Institucional</h4>
                    <ul>
                        <li><a href="/templates/Institucional/quienes-somos.html">Quiénes Somos</a></li>
                        <li><a href="/templates/Institucional/contactenos.html">Contáctenos</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Preguntas Frecuentes</a></li>
                        <li><a href="/templates/sucursales/sucursales.html">Sucursales</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Síguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                        <a href="#"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie del Footer-->
        <br>
        <div class="footer__separator"></div>
        <div id="id-menu-pie">
            <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container1">Política de Privacidad</span></a> 
            <span class="span__separator">|</span>
            <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container">Términos de Uso</span></a>
            <span class="span__separator">|</span>
            <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container">Política de Cookies</span></a>
        </div>
        
        <div class="h5-footer">
            <span>
                <h5 class="h5__derechos-desarrollo">Todos los derechos reservados a Taurus S.A - Desarrollado por Grupo </h5>            
                <a class="link__G2" style="text-decoration: none;" href="#">G2</a>
            </span>
        </div>
    
    </footer>
    <!--/FOOTER-->

</body>

</html>