<!--COSECHADORA AXIAL FLOW 4130-->

<!DOCTYPE html>
<html lang="en">
<!--HEAD-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAURUS S.A. - Concesionario Agrícola</title>
    <link rel="shortcut icon" href="/statics/Img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/estilo_productos.css" type="text/css">
    <script src="https://kit.fontawesome.com/c86e6b0455.js" crossorigin="anonymous"></script>
</head>
<!--/HEAD-->
<!--********************************************************************************-->
<!--BODY-->

<body>
    <!--HEADER-->
    <header id="id-header">
        <section class="nav-section">
            <div class="navbar">

                <!--botones del menu desplegable - hover-->
                <a href="/index.html" id="id-home">Home</a>

                <div class="dropdown">
                    <button class="dropbtn">Productos
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/Templates/productos-nuevos.html">Nuevos</a>
                        <a href="/Templates/productos-usados.html">Usados</a>
                        <a href="/Templates/productos-alquilar.html">Alquilar</a>
                    </div>
                </div>

                <div class="dropdown1">
                    <button class="dropbtn">Comprar
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown1-content">
                        <a href="/templates/productos_financiacion/financiacion.html">Financiación</a>
                        <a href="/templates/en-desarrollo/pag-en-desarrollo.html">Planes de Ahorro</a>
                        <a href="/templates/en-desarrollo/pag-en-desarrollo.html">Repuestos</a>
                        <a href="/templates/en-desarrollo/pag-en-desarrollo.html">Catálogos</a>
                    </div>
                </div>

                <div class="dropdown2">
                    <button class="dropbtn">Institucional
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown2-content">
                        <a href="/templates/Institucional/quienes-somos.html">Quiénes Somos</a>
                        <a href="/templates/Institucional/contactenos.html">Contáctenos</a>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <!--/HEADER-->
    <!--*******************************************************************************-->
    <!--MAIN-->
    <div id="img-taurus">
        <a href="/index.html"><img src="/statics/Img/logo-taurus-200x200-transparente.png" alt="Logo Taurus S.A." class="img-taurus"></a>
    </div>

    <!--/HEADER-->
    <!--MAIN-->

    <div class= "container__h1">
        <h1 class="h1__class">Detalle del Producto - Novedades</h1>
    </div>
    <br>
    <div class="h2__class">
        <h2>Cosechadora Axial Flow 4130</h2>
    </div>
    
    <div class="container__img1">
        <img class="figure1" src="http://www.ulla.com.ar/ulla-maquinarias/wp-content/uploads/2017/04/lanzamiento-axial-flow-4130-case-ih-1024x596.jpg"
            alt="Cosechadora Axial-Flow 4130" width="600px" height="400px">
        <!--los tamaños de imagen trabajarlos con CCS-->
    </div>
    
    <div class="container__p">
        <p class="p__class">
            La <b>Axial-Flow 4130</b>, una máquina clase 5 que permitirá a muchos productores y contratistas llegar a su
            primera cosechadora axial.<br>
            Esta novedad de la marca se caracteriza por tener mayor potencia, reserva de torque y menor peso que sus
            competidores del segmento, lo que aumenta la eficiencia de cosecha en cualquier condición.<br>
             Asimismo, debe destacarse su gran área de limpieza, que 4,2 m2 es la mayor de su categoría.<br>
            La <b>Axial-Flow 4130</b> viene equipada con un motor electrónico de 253 caballos de potencia y una reserva
            de 46 caballos, que le permite entregar casi 300 caballos cuando las condiciones de trabajo así lo requieran.<br>
             Además, posee cunas de sin fines alineadas con las secciones de la zaranda, lo que evita
            la sobrecarga y mejora la capacidad de distribución.<br>
             Esto provoca que el sistema de zaranda sea más agresivo y, por ende, más resistente.<br>
            El lanzamiento de la <b>Axial-Flow 4130</b> completa la oferta de productos de la marca y aporta un sistema de
            cosecha y separación con un rotor longitudinal AFX que brinda la posibilidad de adecuarse para cada tipo de cultivo.<br>
        </p>
    </div>
<!-- *************************** CARRUSEL DE IMAGENES *************************************-->
    <section id="carrusel_img">
        <div class="h3__container">
            <h3 class="h3__class">
                Otros Productos Taurus:
            </h3>
        </div>
        <div class="container__carrusel-scroll">
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/1.jpg" alt="scroll-menu-img_1">
                <p class="carrusel-class__p">
                    Tractor Jhon Deere 6603
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/2.png" alt="scroll-menu-img_2">
                <p class="carrusel-class__p">
                    Tractor New Holland 2205
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/3.png" alt="scroll-menu-img_3">
                <p class="carrusel-class__p">
                    Tractor Pauny 3320 c/Pala
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/4.jpg" alt="scroll-menu-img_4">
                <p class="carrusel-class__p">
                    Tractor Compacto New Holland LS-1141
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/5.png" alt="scroll-menu-img_5">
                <p class="carrusel-class__p">
                    Tractor Jhon Deere c/Fumigadora 7147
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/6.webp" alt="scroll-menu-img_6">
                <p class="carrusel-class__p">
                    Tractor Jhon Deere c/Brazo Hidráulico M223
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/7.jpg" alt="scroll-menu-img_7">
                <p class="carrusel-class__p">
                    Cosechadora Jhon Deere 2203
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/8.webp" alt="scroll-menu-img_8">
                <p class="carrusel-class__p">
                    Cosechadora Jhon Deere Compacto 9199
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/9.jpg" alt="scroll-menu-img_9">
                <p class="carrusel-class__p">
                    Cosechadora Jhon Deere a rotor 5025
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/10.jpg" alt="scroll-menu-img_10">
                <p class="carrusel-class__p">
                    Sembradora Massey Ferguson 7215    
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/11.jpg" alt="scroll-menu-img_11">
                <p class="carrusel-class__p">
                    Tolva Massey Ferguson 235
                </p>
            </div>
            <div class="cont-img__carrusel">
                <img class="img-carrusel__class" src="/statics/Img/scroll-menu-img/12.jpg" alt="scroll-menu-img_12">
                <p class="carrusel-class__p">
                    Cosechadora New Holland 7112
                </p>
            </div>
        </div>
    </section>
   
    <!--/MAIN-->
   
<!--************************************************************************-->

    <!--FOOTER-->
    <footer id="id-footer">
        <h3 class="h3-footer">TAURUS S.A - Concesionario Agrícola</h3>
        <div class="footer-subtitle">
            <h4>Ruta 9 - km. 555 - Villa María - Cba.</h4>
            <h5>Tel.: (0353) 155100370</h5>
        </div>
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-container-links">
                    <h4>Productos</h4>
                    <ul>
                        <li><a href="/templates/productos-nuevos.html">Nuevos</a></li>
                        <li><a href="/templates/productos-usados.html">Usados</a></li>
                        <li><a href="/templates/productos-alquilar.html">Alquiler</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Comprar</h4>
                    <ul>
                        <li><a href="/templates/productos_financiacion/financiacion.html">Financiación</a></li>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Planes de Ahorro</a></li>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Repuestos</a></li>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Catálogos</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Institucional</h4>
                    <ul>
                        <li><a href="/templates/Institucional/quienes-somos.html">Quiénes Somos</a></li>
                        <li><a href="/templates/Institucional/contactenos.html">Contáctenos</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Preguntas Frecuentes</a></li>
                        <li><a href="/templates/sucursales/sucursales.html">Sucursales</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Síguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                        <a href="#"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie del Footer-->
        <br>
        <div class="footer__separator"></div>
        <div id="id-menu-pie">
            <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container1">Política de Privacidad</span></a> 
            <span class="span__separator">|</span>
            <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container">Términos de Uso</span></a>
            <span class="span__separator">|</span>
            <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container">Política de Cookies</span></a>
        </div>
        
        <div class="h5-footer">
            <span>
                <h5 class="h5__derechos-desarrollo">Todos los derechos reservados a Taurus S.A - Desarrollado por Grupo </h5>
                <a class="link__G2" style="text-decoration: none;" href="#">G2</a>
            </span>
        </div>
    
    </footer>
    <!--/FOOTER-->
</body>

</html>