<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud-Taurus S.A.</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:wght@200..1000&display=swap" rel="stylesheet">

    <!-- Agregar fontawesome -->
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>

    <!-- HACEMOS REFERENCIA A UN DOCUMENTO CSS EXTERNO -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/crud-taurus.css">
   
</head>


<body id="body">
    
    <header class="header">
        <nav class="nav-bar">
            <div id="logo">
                <a href="">
                                      
                    <span class="logo-text">
                        TAURUS SA - Concesionaria Agrícola
                    </span>
                </a>
            </div>
            <ul class="nav-links">
                
                <li>
                    <!-- etiqueta enlace interno al proyecto -->
                    <a href="./register.html">Registrarse</a>
                </li>
                <li>
                    <!-- Enlace externo -->
                    <a href="#" target="_blank" class="btn-cac">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">
                            Iniciar sesión
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    
    <main> 
        <section id="form" class="container ">
            <h2 class="search-title">Gestionar Productos Taurus</h2>
            
            <form action="#"  id="form-productos">
                <div class="d-flex">
                    <div class="form-control d-flex-column">
                        <label for="brand">Marca</label>
                        <input type="text" class="input-search" name="brand" id="brand">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="name">Nombre del Producto</label>
                        <input type="text" class="input-search" name="name" id="name">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="model">Modelo</label>
                        <input type="text" class="input-search" name="model" id="model">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="release-date">Fecha de Fabricación</label>
                        <input type="date" class="input-search" name="release_date" id="release-date">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="banner">Banner</label>
                        <input type="url" class="input-search" name="banner" id="banner">
                    </div>                
                    <input type="hidden"  name="id" id="maquinaria_id">
                    <button class="btn-cac" type="button" id="btn-save-productos">Agregar</button>
                </div>
            </form> 
        </section>
        <section id="list" class="container">
            <h3 class="subtitle">Listado de Productos</h3>
            <table id="list-table-productos" class="table">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Nombre del Producto</th>
                        <th>Modelo</th>
                        <th>Fecha de Fabricación</th>
                        <th>Banner</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody-table-productos">
                    
                </tbody>
            </table>
        </section>  
    </main>
    <!-- Indicar el pie de página -->
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
        <a href="">CRUD</a>
    </footer>

    <!-- INTERNO AL DOCUMENTO -->
    <script>
        // alert('Hola mundo JS C#24162 😎');
        // console.log('Hola por medio de la consola 😀');
    </script>

    <!-- REFERENCIA EXTERNA -->
    <!-- <script src="./static/js/index.js"></script> -->
    <!-- <script src="./static/js/funciones.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../statics/js/crud_taurus_fetch3.js"></script>

</body>

</html>