<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Usados</title>
    <link rel="shortcut icon" href="/statics/Img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/nsa.css" type="text/css">
    <script src="https://kit.fontawesome.com/c86e6b0455.js" crossorigin="anonymous"></script>
</head>
<!--/HEAD-->
<!--********************************************************************************-->
<!--BODY-->

<body>
    <!--HEADER-->
    <header id="id-header">
        <section class="nav-section">
            <div class="navbar">

                <!--botones del menu desplegable - hover-->
                <a href="/index.html" id="id-home">Home</a>
                
                <div class="dropdown">
                    <button class="dropbtn">Productos
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a class="submenu" href="/Templates/productos-nuevos.html">Nuevos</a>
                        <a class="submenu" href="/Templates/productos-usados.html">Usados</a>
                        <a class="submenu" href="/Templates/productos-alquilar.html">Alquilar</a>
                    </div>
                </div>

                <div class="dropdown1">
                    <button class="dropbtn">Comprar
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown1-content">
                        <a class="submenu" href="/templates/productos_financiacion/financiacion.html">Financiación</a>
                        <a class="submenu" href="/templates/en-desarrollo/pag-en-desarrollo.html">Planes de Ahorro</a>
                        <a class="submenu" href="/templates/en-desarrollo/pag-en-desarrollo.html">Repuestos</a>
                        <a class="submenu" href="/templates/en-desarrollo/pag-en-desarrollo.html">Catálogos</a>
                    </div>
                </div>

                <div class="dropdown2">
                    <button class="dropbtn">Institucional
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown2-content">
                        <a class="submenu" href="/templates/Institucional/quienes-somos.html">Quiénes Somos</a>
                        <a class="submenu" href="/templates/Institucional/contactenos.html">Contáctenos</a>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <!--/HEADER-->
    <!--*******************************************************************************-->
    <!--MAIN-->

    <div id="banner">
        <img src="/statics/Img/BANNER-1200x309-1.jpg" alt="Banner" class="img-banner">
        <img src="/statics/Img/logo-taurus-200x200-transparente.png" alt="Logo Taurus S.A." class="img-taurus">
    </div>
    <div class="h1-container">
        <h1 id="h1-taurus"> Productos Usados </h1>
    </div>


    <!--Productos-->
    <section id="productos-nuevos">
        <br>
        <div class="content">
            <div class="producto">
                <a href="/templates/productos_destacados/detalles-cosechadora-convencional-FENDT-6275L.html">
                    <img src="/statics/Img/nsa/cosechadora fendt.jpg" alt="Cosechadora Convencional FENDT" id="producto" > 
                </a>
                <a href="/templates/productos_destacados/detalles-cosechadora-convencional-FENDT-6275L.html">
                    <p>Cosechadora Convencional FENDT 6275L</p>
                </a>
            </div>
        </div>

        <br>

         <div class="content">
            <div class="producto">
                <a href="/templates/productos_usados/detalles-tolva.html">
                    <img src="/statics/Img/nsa/tolva-Autodescargable.jpg" alt="Tolva Ascanelli" id="producto" > 
                </a>
                <a href="/templates/productos_usados/detalles-tolva.html">
                    <p> Tolva Ascanelli 22/24/26tn </p>
            </div>
        </div>

        <br>

         <div class="content">
            <div class="producto">
                <a href="/templates/productos_usados/detalles-empacadora.html">
                    <img src="/statics/Img/nsa/empacadora.jpeg" alt="Empacadora de Rollo 559 Ensilado Especial" id="producto">
                </a>   
                <a href="/templates/productos_usados/detalles-empacadora.html">
                  <p>Empacadora de Rollo 559 Ensilado Especial John Deere</p>
                </a>
             </div>
        </div>
            <br>
        
        <div class="content">
            <div class="producto">
                <a href="/templates/productos_usados/detalles-cargador-frontal.html">
                    <img src="/statics/Img/nsa/Cargador Frontal.jpeg" alt="Cargador Frontal">
                </a>
                <a href="/templates/productos_usados/detalles-cargador-frontal.html">
                    <p> Cargador Frontal D160 </p>
                </a>
            </div>
        </div>
    
          

    </section>
    <!--/Productos-->

    <footer id="id-footer">
        <h3 class="h3-footer">TAURUS S.A - Concesionario Agrícola</h3>
        <div class="footer-subtitle">
            <h4>Ruta 9 - km. 555 - Villa María - Cba.</h4>
            <h5>Tel.: (0353) 155100370</h5>
        </div>
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-container-links">
                    <h4>Productos</h4>
                    <ul>
                        <li><a href="/templates/productos-nuevos.html">Nuevos</a></li>
                        <li><a href="/templates/productos-usados.html">Usados</a></li>
                        <li><a href="/templates/productos-alquilar.html">Alquiler</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Comprar</h4>
                    <ul>
                        <li><a href="/templates/productos_financiacion/financiacion.html">Financiación</a></li>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Planes de Ahorro</a></li>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Repuestos</a></li>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Catálogos</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Institucional</h4>
                    <ul>
                        <li><a href="/templates/Institucional/quienes-somos.html">Quiénes Somos</a></li>
                        <li><a href="/templates/Institucional/contactenos.html">Contáctenos</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Preguntas Frecuentes</a></li>
                        <li><a href="/templates/sucursales/sucursales.html">Sucursales</a></li>
                    </ul>
                </div>

                <div class="footer-container-links">
                    <h4>Síguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                        <a href="#"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie del Footer-->
        <br>
        <div class="footer__separator"></div>
        <div id="id-menu-pie">
            <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container1">Política de Privacidad</span></a> 
            <span class="span__separator">|</span>
            <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container">Términos de Uso</span></a>
            <span class="span__separator">|</span>
            <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container">Política de Cookies</span></a>
        </div>
        
        <div class="h5-footer">
            <span>
                <h5 class="h5__derechos-desarrollo">Todos los derechos reservados a Taurus S.A - Desarrollado por Grupo </h5>            
                <a class="link__G2" style="text-decoration: none;" href="#">G2</a>
            </span>
        </div>
    
    </footer>
    <!--/FOOTER-->
    <script src="script.js"></script>
</body>
<!--/BODY-->

</html>
  