<!DOCTYPE html>
<html lang="en">
<!--HEAD-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos - Nuevos</title>
  <link rel="shortcut icon" href="/statics/Img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles/nsa.css" type="text/css">
  <script src="https://kit.fontawesome.com/c86e6b0455.js" crossorigin="anonymous"></script>
</head>
<!--/HEAD-->
<!--********************************************************************************-->
<!--BODY-->

<body>
  <!--HEADER-->
  <header id="id-header">
    <section class="nav-section">
      <div class="navbar">

        <!--botones del menu desplegable - hover-->
        <a href="/index.html" id="id-home">Home</a>

        <div class="dropdown">
          <button class="dropbtn">Productos
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a class="submenu" href="/Templates/productos-nuevos.html">Nuevos</a>
            <a class="submenu" href="/Templates/productos-usados.html">Usados</a>
            <a class="submenu" href="/Templates/productos-alquilar.html">Alquilar</a>
          </div>
        </div>

        <div class="dropdown1">
          <button class="dropbtn">Comprar
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown1-content">
            <a class="submenu" href="/templates/productos_financiacion/financiacion.html">Financiación</a>
            <a class="submenu" href="/templates/en-desarrollo/pag-en-desarrollo.html">Planes de Ahorro</a>
            <a class="submenu" href="/templates/en-desarrollo/pag-en-desarrollo.html">Repuestos</a>
            <a class="submenu" href="/templates/en-desarrollo/pag-en-desarrollo.html">Catálogos</a>
          </div>
        </div>

        <div class="dropdown2">
          <button class="dropbtn">Institucional
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown2-content">
            <a class="submenu" href="/templates/Institucional/quienes-somos.html">Quiénes Somos</a>
            <a class="submenu" href="/templates/Institucional/contactenos.html">Contáctenos</a>
          </div>
        </div>
      </div>
    </section>
  </header>

  <!--/HEADER-->
  <!--*******************************************************************************-->
  <!--MAIN-->


  <main>

    <div id="banner">
      <img src="/statics/Img/BANNER-1200x309-1.jpg" alt="Banner" class="img-banner">
      <img src="/statics/Img/logo-taurus-200x200-transparente.png" alt="Logo Taurus S.A." class="img-taurus">
    </div>

    <div class="h1-container">
      <h1 id="h1-taurus">Sucursales Taurus</h1>
    </div>

    <div>
      <h2 class="h2-subtitulo">Localice su concesionario más cercano</h2>
    </div>

    <div class="container__label">
      <label class="label__city" for="city">Provincia</label>
      <select name="city" id="city">
        <option value="">Seleccione</option>
        <option value="BA">Buenos Aires</option>
        <option value="COR">Cordoba</option>
        <option value="LP">La Pampa</option>
        <option value="ME">Mendoza</option>
        <option value="LR">La Rioja</option>
        <option value="JU">Jujuy</option>
        <option value="SA">Salta</option>
        <option value="FOR">Formosa</option>
        <option value="MI">Misiones</option>
        <option value="RN">Rio Negro</option>
        <option value="SC">Santa Cruz</option>
        <option value="TU">Tucuman</option>
        <option value="SL">San Luis</option>
        <option value="CO">Corrientes</option>
      </select>
    </div>
    <div>
      <br>
      <img class="img__sucursal" src="/statics/Img/tractor.jpg" alt="tractor">

    </div>
    <br>

    <div class="container__map">
      <iframe style="height: 50%;width: 50%;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d74478.84010044244!2d-58.84292971488685!3d-34.413269821715865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9c67ea60bb3b%3A0x40d0bcfe5b652e7b!2sHospital%20Universitario%20Austral!5e0!3m2!1ses!2sar!4v1715722484025!5m2!1ses!2sar"
        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!-- FOOTER -->
    <footer id="id-footer">
      <h3 class="h3-footer">TAURUS S.A - Concesionario Agrícola</h3>
      <div class="footer-subtitle">
        <h4>Ruta 9 - km. 555 - Villa María - Cba.</h4>
        <h5>Tel.: (0353) 155100370</h5>
      </div>
      <div class="footer-container">
        <div class="footer-row">
          <div class="footer-container-links">
            <h4>Productos</h4>
            <ul>
              <li><a href="/templates/productos-nuevos.html">Nuevos</a></li>
              <li><a href="/templates/productos-usados.html">Usados</a></li>
              <li><a href="/templates/productos-alquilar.html">Alquiler</a></li>
            </ul>
          </div>

          <div class="footer-container-links">
            <h4>Comprar</h4>
            <ul>
              <li><a href="/templates/productos_financiacion/financiacion.html">Financiación</a></li>
              <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Planes de Ahorro</a></li>
              <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Repuestos</a></li>
              <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Catálogos</a></li>
            </ul>
          </div>

          <div class="footer-container-links">
            <h4>Institucional</h4>
            <ul>
              <li><a href="/templates/Institucional/quienes-somos.html">Quiénes Somos</a></li>
              <li><a href="/templates/Institucional/contactenos.html">Contáctenos</a></li>
            </ul>
          </div>

          <div class="footer-container-links">
            <h4>Ayuda</h4>
            <ul>
              <li><a href="/templates/en-desarrollo/pag-en-desarrollo.html">Preguntas Frecuentes</a></li>
              <li><a href="/templates/sucursales/sucursales.html">Sucursales</a></li>
            </ul>
          </div>

          <div class="footer-container-links">
            <h4>Síguenos</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-tiktok"></i></a>
              <a href="#"><i class="fab fa-telegram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Pie del Footer-->
      <br>
      <div class="footer__separator"></div>
      <div id="id-menu-pie">
        <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container1">Política de Privacidad</span></a>
        <span class="span__separator">|</span>
        <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container">Términos de Uso</span></a>
        <span class="span__separator">|</span>
        <a href="/templates/en-desarrollo/pag-en-desarrollo.html"><span class="span__container">Política de Cookies</span></a>
      </div>

      <div class="h5-footer">
        <span>
          <h5 class="h5__derechos-desarrollo">Todos los derechos reservados a Taurus S.A - Desarrollado por Grupo
          </h5>
          <a class="link__G2" style="text-decoration: none;" href="#">G2</a>
        </span>
      </div>

    </footer>
    <!--/FOOTER-->
    <script src="script.js"></script>

</body>
<!--/BODY-->

</html>